normalflow_ws/.vscode/

normalflow_ws/normalflow/demos/images/

# 大型模型文件
GroundingDino/groundingdino_swint_ogc.pth
*.pth
*.ckpt
*.weights
*.h5

Qwen3-VL/

# Python 缓存
__pycache__/
*.py[cod]
*$py.class
*.so

# 数据和记录文件
RECORD/
record_images_during_grasp/

# 调试文件
debug/

